* {
	margin:0;
	padding:0;	
}

html, body {
	height: 100%;
	font-family: Verdana, sans-serif;
	background-color: LightGray;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
	color: #0000FF;
}

header {
	width: 100%;
	height: 120px;
	/*background-color: #b8b9c8;*/
	padding-top: 16px;
	font-size: 24px;
	margin-bottom: 30px;
}

#container {	
	min-height: 100%;	
	min-width: 640px;	
	text-align: center;
	margin: 30px 10%;
}

#container h2 {

}

canvas {	
	border: 2px solid;
	margin: 10px;
}

#image {
	margin-top: 15px;
}

#image img {
	border: 2px solid;
}

.hidden {
	display: none;
}