* {
	margin:0;
	padding:0;	
}

html, body {
	height: 100%;
	font-family: Verdana, sans-serif;
	background-color: LightGray;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
	color: #0000FF;
}

header {
	width: 100%;
	height: auto;
	padding-top: 16px;
	font-size: 24px;
	margin-bottom: 30px;
	border-bottom: 1px solid;
}

#forms {
	margin-bottom: 30px;
}

#forms input {
	min-width: 105px;
}

#container {	
	min-height: 100%;	
	min-width: 640px;	
	text-align: center;
	margin: 30px 10%;
}

#container h3 {
	margin-top: 5px;
}

canvas {	
	border: 2px solid;
	margin: 0 10px;
}

form {
	display: inline-block;
}

input {
	padding: 3px;	
}

#image {
	margin-top: 15px;
}

#image p {
	text-align: justify;
	margin: 0 20% 20px 20%;
}

#image img {
	border: 2px solid;
}

.hidden {
	display: none;
}